# ***TRABAJO INTEGRADOR I-***
DATOS BASADOS EN INFORMACIÓN PÚBLICA EN ARGENTINA
---
---

### **Acceso a los diferentes dataset y visualizacion**


#### Los dataset podran ser descargado del siguiente [enlace de drive](https://drive.google.com/drive/folders/1J-R6fricR7D1uf9g_Cg8gbIMajCe-eYw?usp=sharing). 
En algunos casos los datase contiene información de diferentes periodos de tiempo y etiquetas de las variables con nomenclatura específica. Para tener referencia de los datos de cada variables de la base de datos consultar en los siguientes enlaces según el dataset elegido.



|    | Tema | Nombre del archivo | Enlace |
|--- |---   |         ---        |   ---  |
1   | .... | spam.csv  |  ....   |
2   | supermercados| ventas-supermercados-2.csv  | [dataset de supermercados](https://www.datos.gob.ar/dataset/sspm_455/archivo/sspm_455.1) |
3   | Mercado Central de Bs As |precios-mercadocentral.csv| [dataset de mercado](https://datos.gob.ar/ar/dataset/agroindustria-frutas-hortalizas---precios-mayoristas/archivo/agroindustria_6dce1e87-7988-4eaf-b0e1-b3abbb3964da)

### ***Datos del alumno***

Franco, Cristian, 39039686, cristianprogramadorunsa@gmail.com

### ***Dataset elegido:***

Mercado Central de Bs. As

**Elegimos este dataset debido a:**
* La facilidad para crear relaciones entre las variables
* La utilidad que tendria en la cotidianeidad.
* La similitud con las clases practicas.

**Problematica**

Necesitamos saber cuál sera el precio de una fruta, dado el nombre de dicha fruta. Esto sabiendo que el año, el pais y demas factores no se tomaran en cuenta.

**Impacto**

Como ya se dijo, es de uso cotidiano relacionar el nombre de un producto con su precio agregandole claro, la importancia o época de dicho producto. Por lo que será de mucha utilidad para la sociedad anticipar precios de algo tan cotidiano como las frutas y las verduras. Esto servirá además para facilitar la administración realista y actual de la economía hogareña.

**Objetivo**

Espero poder predecir el precio de las frutas y verduras, dado su nombre, y que al hacerlo obtengamos un minimo error respecto a la realidad. Tratare de conseguir datos mas actuales dentro del mercado para probar el modelo y verificar si nos aproximamos a la actualidad, dado que los datos del dataset pertenecen a los años 2017 y 2018.

### ***Empecemos***

In [1]:
# Importamos las librerias necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

### ***1- Ingresamos el DATA SET***

In [6]:
#Subir archivo en la carpetita que aparece a la izquierda del colab, luego copiar la ruta y subirlo con las librerias necesarias

df = pd.read_csv('./precios-mercadocentral.csv', encoding='ISO-8859-1')

### ***2- Aplicamos PROCESO de AED***

In [7]:
# Aqui veremos medidas de estadistica descriptiva
# Estas medidas seran sobre las variables cuantitativas del dataset 
df.describe()

       pais_id          año  precio_usd_kg
count    828.0   828.000000     767.000000
mean      32.0  2017.376812       1.262360
std        0.0     0.484880       1.437011
min       32.0  2017.000000       0.000000
25%       32.0  2017.000000       0.470000
50%       32.0  2017.000000       0.860000
75%       32.0  2018.000000       1.460000
max       32.0  2018.000000      11.230000

In [8]:
# En este caso nos informará sobre el nombre, tipo de dato y cuantas filas de dicha columna poseen valor nulo
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828 entries, 0 to 827
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pais_id        828 non-null    int64
 1   pais           828 non-null    object
 2   mercado        828 non-null    object
 3   año            828 non-null    int64
 4   mes            828 non-null    object
 5   producto       828 non-null    object
 6   variedad       828 non-null    object
 7   origen         828 non-null    object
 8   precio_usd_kg  767 non-null    float64
 9   moneda_cod     828 non-null    object
 10  moneda         828 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 71.3+ KB

In [9]:
# Veremos las primeras 5 filas
df.head()

,pais_id,pais,mercado,año,mes,producto,variedad,origen,precio_usd_kg,moneda_cod,moneda
0,32,Argentina,Mercado Central de Buenos Aires,2017,Enero,Anana,Perola,Brasil,1.22,USD,Dolares
1,32,Argentina,Mercado Central de Buenos Aires,2017,Enero,Banana,Cavdich,Ecuador,0.53,USD,Dolares
2,32,Argentina,Mercado Central de Buenos Aires,2017,Enero,Pomelo,Star Ruby,Argentina,0.86,USD,Dolares
3,32,Argentina,Mercado Central de Buenos Aires,2017,Enero,Limón,Eureka,Argentina,1.52,USD,Dolares
4,32,Argentina,Mercado Central de Buenos Aires,2017,Enero,Manzana,Granny Smith,Argentina,1.84,USD,Dolares

In [10]:
# Veremos las últimas 5 filas
df.tail()

,pais_id,pais,mercado,año,mes,producto,variedad,origen,precio_usd_kg,moneda_cod,moneda
823,32,Argentina,Mercado Central de Buenos Aires,2018,Agosto,Repollo,s/especificar,s/especificar,0.36,USD,Dolares
824,32,Argentina,Mercado Central de Buenos Aires,2018,Agosto,Tomate,s/especificar,s/especificar,1.15,USD,Dolares
825,32,Argentina,Mercado Central de Buenos Aires,2018,Agosto,Zanahoria,s/especificar,s/especificar,0.29,USD,Dolares
826,32,Argentina,Mercado Central de Buenos Aires,2018,Agosto,Zapallito,s/especificar,s/especificar,1.01,USD,Dolares
827,32,Argentina,Mercado Central de Buenos Aires,2018,Agosto,Zapallo,s/especificar,s/especificar,0.32,USD,Dolares

In [ ]:
# Ahora procederemos a graficar 
# Esto para poder identificar las cantidad y los valores que cada columna toma a lo largo de las filas

##3- Aplicar PROCESO DE LIMPIEZA

##4- Aplicar PROCESO para DEFINIR tu X e Y para APLICAR REGRESION LINEAL Y LOGISTICA segun el DATA SET a las variables que consideres adecuadas. RECUERDA ESTANDARIZAR LAS VARIABLES PARA CORRELACIÓN LOGÍSTICA.

##5- Aplicar alguna METRICAS de EVALUACION a los modelos anteriores y justificar la elección de dicha métrica.

##6- Sacar una conclusión en función de los resultados, errores, y predicciones.

##7- Aplicar un MODELO DE APRENDIZAJE NO SUPERVISADO (k-means, arbol de  decisión, KNN) Con el resultado obtenido del algoritmo de agrupamiento elegido, agregar al dataset una columna con esta nueva variables del grupo al que pertenece cada dato.

##8- Generar una conclusión con relación a como podría obtener mejores datos en este dataset, o que información considera importante que se podria evaluar para mejorar su predicción encontrada.